.wizard-nav {
  z-index: 999;
  // position: fixed;
  // right: 50px;
  // top: 20px;
}

.wizard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 50px;
}

.wizard-header h1 {
  color: #8a2be2;
}

.wizard-nav button {
  text-decoration: underline;
}

.wizard-nav button {
  cursor: pointer;
}