.editable-text-field{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    white-space: pre-line;
}
.editable-text-button{
    margin-left:10px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
