.editable-text-field{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    white-space: pre-line;
}
// .editable-text-button{
//     // margin-left:0px;
//     // background-color: rgba(255, 255, 255, 0);
//     // border: none;
// }
.pencil{
    font-size: 8px;
}
.number-input{
    width: 70px; 
}