.image-upload-preview {
  position: relative;
}

.upload-button {
  width: 64px;
  height: 64px;
  position: absolute;
  z-index: 1;
  margin: auto;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  cursor: pointer;
  left: 50%;
}