.character-sheet-body,
.character-sheet-background,
.character-sheet,
.character-sheet-initial-information,
.character-sheet-header, 
.character-sheet-CLB, 
.character-sheet-RAX, 
.character-sheet-action,
.character-sheet-ability-score,
.character-sheet-ability-proficiency,
.character-sheet-armor-initiative-speed,
.character-sheet-hit-death,
.character-sheet-saving-throw-skills-tile,
.character-sheet-equipment{
    display:flex;

}
.character-sheet{
    max-width: 120vh;
    flex-direction: row;
    margin:10px;
  color: rgba(0, 0, 0, 0.726);
    font-size: 0.6rem;
    border-radius: 25px;
    height : 100%;
  
}
.character-sheet-ability-score,
.character-sheet-initial-information
{
    flex-direction: column;
}
// .character-sheet-death-save,
// .character-sheet-fails,
.character-sheet-success,
.character-sheet-saving-throw-skills-tile, 
.character-sheet-header, 
// .character-sheet-CLB, 
// .character-sheet-RAX, 
.character-sheet-action
.character-sheet-equipment
{
    align-items:center;
    flex-direction: row;
    justify-content: center;
    padding:5px
}
.character-sheet-header,
.character-sheet-ability-score{
    align-items: center;
    justify-content: space-around;}
    
.character-sheet-CLB, 
.character-sheet-RAX{        
   justify-content: space-between;
   margin: 15px;
 
}

.character-sheet-ability-info,
.character-sheet-inspiration,
.character-sheet-proficiency-bonus,
.character-sheet-saving-throws,
.character-sheet-skills,
.character-sheet-armor,
.character-sheet-initiative,
.character-sheet-speed,
.character-sheet-hit-points,
.character-sheet-hit-dice,
.character-sheet-death-save,
.character-sheet-coin,
.character-sheet-attacks-spell-casting,
.character-sheet-equipment-list,
.character-sheet-personality-traits,
.character-sheet-personality-ideals,
.character-sheet-personality-bonds,
.character-sheet-personality-flaws,
.character-sheet-personality-features-traits,
.character-sheet-perception{
    justify-content: space-around;
    border: solid 2px gray;
    padding: 3px;
    margin:3px;
    max-width:  20vh;
}
.character-sheet-ability-modifier,
.character-sheet-saving-throw-skills-tile{
    border: solid 1px;
}
.character-sheet-action{
    justify-content: space-around;
    padding: 30px;
}

.character-sheet p{
margin:1px;

}
.character-sheet-death-save{
    width: 100px;
}
.character-sheet-background{
    width: auto;
    height: 85vh;
    justify-content: center;
}
.character-sheet-header{
    // border-radius: 25px  0 0 25px;
    // height: 30vh;
    padding:50px;
    width: 60vh;;
}
.character-sheet-img{
    height: 44vh;
    margin: 7px;
    padding: 5px;
}
.character-name .editable-text-div{
font-size: 1.5rem;
font-weight: bold;
margin:8px
}

.character-sheet-initial-information{
 width: 30vh;
 
}
.character-name hr {
    border-top: 1px solid rgba(0, 0, 0, 0.301);
}
.character-sheet-save
{
    text-align: center;
    width: 100%;
    height:35px;
    font-size: 20px;
    // color:red;
    border-radius: 0 0 25px 0
}
.character-sheet-body{
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}
// .character-sheet-header span,
 h3 em {
    font-size: 0.7rem;;
}