.character-sheet-max-curr-temp-hit-points,
.character-sheet-attacks-spell-casting,
.deathSave,
.equipment-list-item,
.character-sheet-attack-list-item,
.character-sheet-attack-header,
.character-sheet-fails,
.character-sheet-success,
.character-sheet-armor,
.character-sheet-initiative,
.character-sheet-speed,
.character-sheet-inspiration,
.character-sheet-PB,
.character-sheet-hit-death,
.character-sheet-proficiency,
.character-sheet-current-hit-points,
.character-sheet-hit-dice,
// character-sheet-saving-throws,
.character-sheet-action-row-1,
.character-sheet-action-row-3,
.character-sheet-action-row-2,
.character-sheet-languages,
.character-sheet-body,
.character-sheet-background,
.character-sheet,
.character-sheet-initial-information,
.character-sheet-header, 
.character-sheet-CLB, 
.character-sheet-RAX, 
.character-sheet-action,
.character-sheet-ability,
.character-sheet-ability-score,
.character-sheet-ability-proficiency,
.character-sheet-armor-initiative-speed,
.character-sheet-hit-death,
.character-sheet-saving-throw-skills-tile,
.character-sheet-perception,
.character-sheet-equipment{
    display:flex;

}
.character-sheet{
    max-width: 160vh;
    height : 100%;
    flex-direction: row;
    margin:10px;
  color: rgba(0, 0, 0, 0.726);
    font-size: 0.6rem;
    border-radius: 25px;
  
}
.character-sheet-ability,
.character-sheet-ability-score,
.character-sheet-initial-information
{
    flex-direction: column;
}

.character-sheet-success,
.character-sheet-action,
.character-sheet-equipment
{
    align-items:center;
    flex-direction: row;
    justify-content: center;
    padding:2px
}
.character-sheet-header,
.character-sheet-ability-score{
    align-items: center;
    justify-content: space-between;}
    
.character-sheet-CLB, 
.character-sheet-RAX{        
   justify-content: space-between;
   margin: 15px;
 
}

.character-sheet-ability,
.character-sheet-inspiration,
.character-sheet-proficiency-bonus,
.character-sheet-saving-throws,
.character-sheet-skills,
.character-sheet-armor,
.character-sheet-initiative,
.character-sheet-speed,
.character-sheet-hit-points,
.character-sheet-hit-dice,
.character-sheet-death-save,
.character-sheet-coin,
.character-sheet-attacks-spell-casting,
.character-sheet-equipment-list,
.character-sheet-personality-traits,
.character-sheet-personality-ideals,
.character-sheet-personality-bonds,
.character-sheet-personality-flaws,
.character-sheet-personality-features-traits,
.character-sheet-perception{
    justify-content: space-around;
    padding: 15px;
    // border: solid 2px gray;
    border-radius: 25px;
    margin:5px;
    background-color : #9ca3af36
    
    // max-width:  15vh;
}

.character-sheet-ability-proficiency{
    height: 74%;
    // justify-content: space-around;
}
.character-sheet-action{
    justify-content: space-around;
    height: 90%;
    padding: 10px;

}

.character-sheet-death-save{
    width: 100%;
}
.character-sheet-background{
    width: 100%;
    height: 100vh;
    justify-content: center;
}
.character-sheet-header{
    // border-radius: 25px  0 0 25px;
    // height: 30vh;
    justify-content: space-around;
    padding: 20px;
    width: 60vh;;
}
.character-sheet-img{
    height: 39vh;
    margin: 7px;
    padding: 5px;
}
.character-name .editable-text-div{
font-size: 1.5rem;
font-weight: bold;
margin:8px
}

.character-sheet-initial-information{
 width: 34vh;
 height: 100%;
 justify-content: space-around;
 
}
.character-name hr {
    border-top: 1px solid rgba(0, 0, 0, 0.301);
}
.character-sheet-save
{
    text-align: center;
    width: 100%;
    height:35px;
    font-size: 20px;
    // color:red;
    border-radius: 0 0 25px 0
}

.character-sheet-body{
    min-width: 80vh;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
 h3 em {
    font-size: 0.7rem;
}
.character-sheet-action-row-3,
.character-sheet-action-row-2,
.character-sheet-action-row-1{
    width: 40vh;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}
.character-sheet-languages{
    height: 9vh;
    flex-direction: column;
justify-content: space-around;
    text-align: left;
}
.character-sheet-saving-throw-skills-tile{
    flex-direction: row;
    justify-self: space-between;
    margin-bottom: 5px,
}
.character-sheet-saving-throw{
    justify-content: space-between;
}

.character-sheet-languages b {
    font-size: 0.8rem;
    font-weight: 400;
  
}
.subTitle{
    font-size: 1.1rem;
    font-weight: 500;
}
.character-sheet-ability-info{
    font-size: 0.8rem;
    margin:3px
}
.character-sheet-proficiency{
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    width: 22vh;
    // padding-top: -5px;
    // margin: 5px;
}
.attack-name,
.attack-bonus,
.attack-damage,
.character-sheet-success,
.character-sheet-fails,
.equipment-list-item,
.character-sheet-temporary-hit-points .editable-text-field,
.character-sheet-current-hit-points .editable-text-field,
.character-sheet-initiative .editable-text-field,
.bright-frame,
.character-sheet-inspiration .editable-text-field,
.character-sheet-ability-mod{
    display:flex;
    min-width: 40px;
    min-height: 22px;
    padding: 4px;
    margin:2px;
    background-color:#f6f9ff9b;
    border-radius : 25px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.ability-title{
    font-size: 0.8rem;
    font-weight: 500;
    margin: 3px
}
.character-sheet-ability{
    height:117%
}

.character-sheet-PB,
.character-sheet-perception,
.character-sheet-inspiration{
    flex-direction: row;
    justify-content: space-around;
}
.character-sheet-inspiration h4{
  
    height: 10px;
}
.hit-point,
.character-sheet-inspiration,
.character-sheet-skills,
.character-sheet-saving-throws,
.character-sheet-saving-throw-skills-tile,
.character-sheet-PB,
.character-sheet-perception{
    font-size: 0.7rem;
    font-weight: 500;

}

.character-sheet-armor-initiative-speed{
    align-items: center;
}
.character-sheet-armor,
.character-sheet-initiative,
.character-sheet-speed{
    height: 10vh;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.character-sheet-attacks-spell-casting,
.character-sheet-hit-death,
.character-sheet-hit-points{
    width: 100%;;
}
.deathSave,
.character-sheet-max-curr-temp-hit-points{
    margin-top: 5px;
 flex-direction: row;
 justify-content: space-around;
 text-align: center;
}

.character-sheet-success,
.character-sheet-fails{
 flex-direction: row;
 align-items: center;
 justify-content:space-around;
}
.character-sheet-hit-death{
    justify-content: space-around;
}
.character-sheet-attacks-spell-casting,
.character-sheet-hit-dice{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.character-sheet-attack-list-item,
.character-sheet-attack-header{
    width: 100%;
    justify-content: space-around;
    margin:10px,
}
.attack-header{
    font-weight:500;
}
.character-sheet-equipment-list{
    justify-content: space-around;
    flex-direction: column;
    width: 40vh;
    min-height: 20vh;
}
.character-sheet-attack{
    width: 100%;
}
.smallTitle{
    font-size: 0.6;
    font-weight: 500;
}
.features-and-traits{
    max-height: 19vh;
    overflow: auto; 
}
.character-sheet-body {
    overflow-y: hidden;
  }
  .character-sheet-skills,
.character-sheet-saving-throws{
    min-height: 21vh ;
    // max-height: 35vh;
    overflow: auto; 
}
 .features-and-traits::-webkit-scrollbar {
    display: none;
}
.character-sheet-saving-throws::-webkit-scrollbar {
    display: none;
}
.character-sheet-skills::-webkit-scrollbar {
    display: none;
}


.header{
    font-weight: 500;
    position: absolute;
    z-index: 5;
    top: 10px;

}
.flex-initial-1:hover{
    background-color:#dbe2f06b;
}

.head-menu{
    // background-color:yellow;
    padding:9px;
    border-radius: 10px;
}
.img-avatar{
    height: 60px;
    width: 60px;
    // background-color: yellow;
    border-radius:45px;
    object-fit: cover;
    object-position: 100% 0;
    // margin-right: -30px;

}
.sheet{
    
    position: absolute;
    z-index: 5;
    // top:10px;
    // left: 50px;
}
// .menu{
//     width: 500vh;
//     display: flex;
//     flex-direction: column;
//     align-items:center;
//     justify-content: start;
// }