.box {
  width: 400px;
  height: 150px;
  background-color: saddlebrown;
}

.map-edit-image {
  width: 1200px;
  height: 600px;
  border: 2px solid saddlebrown;
}

.map-edit-container {
  display: flex;
  justify-content: space-around;
}

.map-edit-selection {
  border: 2px solid salmon;
}

.location-item {
  overflow: visible;
}

.element-presentation {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 25px;
}

.isSelected {
  border: 5px solid black;
}

.modal-container {
  width: 500px;
  height: 300px;
  background-color: salmon;
  position: fixed;
  top: 200px;
  left: 500px;
}

.hidden-modal {
  display: none;
}