.box {
  width: 400px;
  height: 150px;
  background-color: saddlebrown;
}

.map-edit-image {
  width: 1200px;
  height: 600px;
  border: 2px solid saddlebrown;
}

.map-edit-container {
  display: flex;
  justify-content: space-around;
}

.map-edit-selection {
  border: 2px solid salmon;
}
